#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b > #backgroundBox {
  position: absolute;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name {
  position: absolute;
  width: 308.7395324707032px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name span#rtr-s-Name_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 span#rtr-s-Name_1_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 {
  position: absolute;
  width: 334.0px;
  min-height: 189.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 21px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer {
  position: absolute;
  width: 334.0px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer span#rtr-s-spacer_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_3 {
  position: absolute;
  width: 340.00000000000006px;
  height: 196.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_3 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_3 span#rtr-s-Name_3_0 {
  color: #372F27;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_9 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_9 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search input::-moz-placeholder {
  color: #B4B4B4;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search input:-moz-placeholder {
  color: #B4B4B4;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search {
  position: absolute;
  width: 347.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search .valign {
  vertical-align: middle;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Input_search .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 41px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_37 {
  position: absolute;
  width: 19.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_37 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-top {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-itemsTop {
  width: 375.0px;
  height: 122.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-itemsTop {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-itemsTop td.layout {
  padding: 0px 0px 0px 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-itemsTop > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-itemsTop .verticalalign {
  vertical-align: top;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg {
  position: absolute;
  width: 100.0%;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 5.0px 7.5px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg {
  box-shadow: -0.0px 5.0px 15px 0px #EFEFEF;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg span#rtr-s-topBg_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_17 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_18 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_4 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_1 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_1 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_2 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_28 {
  position: absolute;
  width: 21.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_28 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_3 {
  width: 14.0px;
  height: 14.0px;
  min-height: 14.0px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_3 {
  box-shadow: none;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FC1268;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: top;
  text-align: center;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
